@import "bootstrap/scss/bootstrap-reboot";

@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

@font-face {
  font-family: "Instagram Sans";
  src: url("/instagram-sans.ttf");
}

html,
body {
  font-family: "Instagram Sans";
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem #ffffff59;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.footer,
.download {
  color: white;
}

.footer ::selection,
.download :not(input)::selection {
  background: #ffffff59;
}

.loading {
  width: 30px;
  height: 30px;
  animation: loading linear infinite 0.75s;
}

.loading > :first-child {
  fill: none;
  opacity: 0.2;
  stroke-width: 4;
  stroke: white;
}

.loading > :last-child {
  fill: none;
  stroke: white;
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
  stroke-width: 4;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-light {
  --bs-btn-bg: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-active-bg: #d3d4d5;
  --bs-btn-active-border-color: #d3d4d5;
  background-clip: padding-box;
  &:focus-visible {
    border-color: transparent;
    background-color: var(--bs-btn-bg);
    box-shadow: 0 0 0 0.25rem #ffffff59;
  }
}

.toggle {
  position: relative;
  .slider {
    position: absolute;
    border-radius: 6px;
    background-color: white;
    transition: top ease-in-out 0.4s, left ease-in-out 0.4s,
      width ease-in-out 0.4s;
  }
  .toggle-item {
    padding: 6px;
    color: white;
    flex: 1 1 auto;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    border: 1px solid #ffffff99;
    background-color: transparent;
    transition: color 0.6s, box-shadow 0.15s ease-in-out;
    &.active {
      color: black;
    }
    &:focus-visible {
      outline: none;
      background-color: #ffffff59;
    }
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 160px;
  ul {
    padding: 0;
  }
  p {
    color: white;
    margin: 15px 0 10px 0;
    font-size: 1.05rem;
  }
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon-item,
.menu-item {
  list-style: none;
}

.social-icon-link {
  font-size: 2rem;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  &:hover {
    transform: translateY(-10px);
  }
  &:focus-visible {
    outline: none;
    transform: translateY(-10px);
  }
}

.menu-link {
  font-size: 1.05rem;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}

.wave1 {
  animation: waves 4s linear infinite;
}

.wave2 {
  animation: waves 4s linear infinite reverse;
}

.wave3 {
  animation: waves 3s linear infinite;
}

.wave4 {
  animation: waves 3s linear infinite reverse;
}

@mixin waves {
  .wave1 {
    opacity: 0.25;
  }
  .wave2 {
    opacity: 0.5;
  }
  .wave3 {
    opacity: 0.75;
  }
}

.facebook {
  .download {
    background: linear-gradient(0deg, #0062e0, #19afff);
  }
  .footer {
    background: #0865fe;
  }
  .wave {
    background-image: url("/waves/facebook/blue.svg");
  }
  @include waves;
}

.instagram {
  .download {
    background: linear-gradient(
      45deg,
      #ffd600,
      #ff7a00,
      #ff0169,
      #d300c5,
      #7638fa
    );
  }
  .footer {
    background: #d300c5;
  }
  .wave1 {
    background-image: url("/waves/instagram/yellow.svg");
  }
  .wave2 {
    background-image: url("/waves/instagram/lavender.svg");
  }
  .wave3 {
    background-image: url("/waves/instagram/pink.svg");
  }
  .wave4 {
    background-image: url("/waves/instagram/purple.svg");
  }
}

.threads {
  .download {
    background: black;
  }
  .footer {
    background: black;
  }
  .wave {
    background-image: url("/waves/threads/black.svg");
  }
  @include waves;
}

@keyframes waves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

:root {
  --toastify-toast-width: auto;
  --toastify-toast-min-height: 0;
  --toastify-font-family: "Instagram Sans";
}

.Toastify__close-button {
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100%;
  }
}

@mixin noappearence {
  appearance: none;
  -webkit-appearance: none;
}

@mixin thumb {
  width: 15px;
  height: 15px;
  border: none;
  background: white;
  border-radius: 50%;
  transition: box-shadow 0.15s ease-in-out;
}

@mixin thumbshadow {
  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.25rem #ffffff59;
  }
  &::-moz-range-thumb {
    box-shadow: 0 0 0 0.25rem #ffffff59;
  }
}

input[type="range"] {
  @include noappearence;
  height: 6px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 3px;

  &::-webkit-slider-thumb {
    @include noappearence;
    @include thumb;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &.active {
    @include thumbshadow;
  }

  &:focus-visible {
    outline: none;
    @include thumbshadow;
  }
}

.text-accent {
  color: white;
}

@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 auto;
    width: 46.66666667%;
  }
}
@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 46.66666667%;
  }
}

input[type="radio"],
input[type="range"] {
  cursor: pointer;
  accent-color: white;
}

.input-option {
  cursor: pointer;
  user-select: none;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10px;
  user-select: none;
}
.marquee > a {
  display: inline-block;
  animation: marquee1 linear infinite alternate;
}
.marquee > a > div {
  animation: marquee2 linear infinite alternate;
  animation-duration: inherit;
}

@keyframes marquee1 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  80% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes marquee2 {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  80% {
    margin-left: -100%;
  }
  100% {
    margin-left: -100%;
  }
}

audio::-webkit-media-controls-enclosure {
  border-radius: 6px;
}

.navbar > .container-fluid {
  align-items: normal;
}

.promo {
  color: black;
  font-size: 13px;
  font-weight: 400;
  padding: 1px 6px;
  user-select: none;
  border-radius: 5px;
  text-decoration: none;
  border: 1.1px solid black;
  &:focus-visible {
    outline: none;
    color: white;
    border-color: #3498db;
    background-color: #3498db;
  }
}
